body {
    background-color: #c9e9ff; /* celeste */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

button {
    padding: 8px 15px;
    border: none;
    background-color: #0077cc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

.card {
    background-color: white;
    padding: 15px;
    margin: 10px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
}

.edit-card {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edit-card form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cancel-link {
    text-align: center;
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
}

.cancel-link:hover {
    text-decoration: underline;
}


.create-button {
    display: inline-block;
    margin: 0 auto 20px auto;
    text-align: center;
    background-color: #0077cc;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.create-button:hover {
    background-color: #005fa3;
}
