<!DOCTYPE html>
<html>
<head>
    <title>Nueva tarea</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Agregar nueva tarea</h1>

    <div class="card edit-card">
        <form method="POST" action="/add">
            <input type="text" name="title" placeholder="Título" required>

            <input type="date" name="date" required>

            <textarea name="description" placeholder="Descripción" required></textarea>

            <button type="submit">Agregar</button>
        </form>

        <a class="cancel-link" href="/">Cancelar</a>
    </div>

</body>
</html>