<!DOCTYPE html>
<html>
<head>
    <title>Editar tarea</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Editar tarea</h1>

    <div class="card edit-card">
        <form method="POST">
            <input type="text" name="title" value="{{ task.title }}" required>

            <input type="date" name="date" value="{{ task.date }}" required>

            <textarea name="description" required>{{ task.description }}</textarea>

            <button type="submit">Guardar</button>
        </form>

        <a class="cancel-link" href="/">Cancelar</a>
    </div>

</body>
</html>
