<!DOCTYPE html>
<html>
<head>
    <title>Lista de tareas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Lista de tareas</h1>

    <a href="/add" class="create-button">➕ Nueva tarea</a>

    <div id="card-container">
        {% for task in tasks %}
        <div class="card">
            
            <h2 class="task-title">{{ task.title }}</h2>

            {% if task.description %}
            <p class="task-description">{{ task.description }}</p>
            {% endif %}

            {% if task.date %}
            <p class="task-date">📅 {{ task.date }}</p>
            {% endif %}

            <div class="actions">
                <a href="{{ url_for('edit', id=task.id) }}">✏️</a>
                <a href="{{ url_for('delete', id=task.id) }}">🗑️</a>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
</html>
