<!DOCTYPE html>
<html>
<head>
    <title>CRUD en Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Lista de tareas</h1>

    <form method="POST" action="/add">
        <input type="text" name="title" placeholder="Nueva tarea" required>
        <button type="submit">Agregar</button>
    </form>

    <div id="card-container">
        {% for task in tasks %}
        <div class="card">
            <span>{{ task.title }}</span>
            <div class="actions">
                <a href="{{ url_for('edit', id=task.id) }}">✏️</a>
                <a href="{{ url_for('delete', id=task.id) }}">🗑️</a>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
</html>
